<h1><%= image_tag @manager.avatar_url, class: 'avatar rounded float-left', width: "50px" %> <%= @manager.name %> <b class="badge badge-success"><%= as_game_currency(@manager.balance) %></b></h1>
<hr>
<h2>Bands <%= link_to "Start a new band", new_band_path, class: 'btn btn-primary btn-sm' if current_manager == @manager %></h2>
<div class="row">
  <% @bands.each do |band| %>
  <div class="col-sm-3 mb-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to band.name, band_path(band) %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= band.genre.name %> - <%= band.genre.style %></h6>
        <p>Fans: <b><%= band.fans %></b> &bull; Buzz: <b><%= band.buzz %></b></p>
      </div>
      <% if band.activities.current_activity.try(:last) %>
      <small class="card-footer endtimes text-center bg-warning text-white">
        Busy for <b data-endtimes="<%= band.activities.current_activity.try(:last).ends_at %>"></b>
      </small>
      <% end %>
    </div>
  </div>
  <% end %>
  <% if current_manager == @manager %>
  <div class="col-sm-3 mb-5">
    <div class="card">
      <%= link_to "<i class='fa fa-user-plus' style='font-size:64px'></i><br /> Start a new band".html_safe, new_band_path, class: 'btn btn-success btn-lg card-body' %>
    </div>
  </div>
  <% end %>
</div>
