<h1>Hire a <b><%= @skill.name %></b> for <b><%= @band.name %></b></h1>

<div class="row">
  <% Member.where(skill_primary: @skill.id).each do |member| %>

  <div class="col-sm-3">
    <div class="card">
      <%= image_tag member.avatar, class: 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title"><%= member.name %></h5>
        <h6><%= gender(member.gender) %>, <%= member.age %></h6>
        <h4 class="text-success"><%= number_to_currency(member.cost_generator, precision: 0, unit: 'ยง') %></h4>
        <%= render partial: "progress", locals: {skill_name: "Instrument", skill_level: member.skill_primary_level} %>
        <%= render partial: "progress", locals: {skill_name: "Creativity", skill_level: member.trait_creativity} %>
        <%= render partial: "progress", locals: {skill_name: "Looks", skill_level: member.trait_looks} %>
        <%= render partial: "progress", locals: {skill_name: "Ego", skill_level: member.trait_ego, negative: true} %>

      </div>
      <div class="card-footer text-center">
        <%= link_to "Hire #{member.name} <br /> <b>#{number_to_currency(member.cost_generator, precision: 0, unit: 'ยง')}</b>".html_safe, hire_band_skill_member_path(band_id: @band.id, skill_id: @skill.id, id: member.id), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <% end %>
</div>


<!--
<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Age</th>
      <th scope="col">Skill Level</th>
    </tr>
  </thead>
  <tbody>
    <% Member.where(skill_primary: @skill.id).each do |member| %>
    <tr>
      <th scope="row"><%= image_tag member.avatar %><%= member.name %></th>
      <td><%= member.gender %></td>
      <td><%= member.age %></td>
      <td><%= member.skill_primary_level %></td>
    </tr>
    <% end %>
  </tbody>
</table> -->
