<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Charts", charts_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Top Bands</li>
  </ol>
</nav>

<h1>Top Bands</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Band</th>
      <th scope="col">Genre</th>
      <th scope="col">Manager</th>
      <th scope="col">Buzz</th>
    </tr>
  </thead>
  <tbody>
    <% @bands.each_with_index do |band, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= band.name %></td>
      <td><%= band.genre.name %></td>
      <td><%= link_to band.manager.name, manager_path(band.manager) %></td>
      <td><%= band.buzz %></td>
    </tr>
    <% end %>
  </tbody>
</table>
