<h1>Charts</h1>
<hr>
<h2>Top Managers <%= link_to "View All", managers_charts_path, class: 'btn btn-sm btn-primary' %></h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Manager</th>
      <th scope="col">Cash</th>
    </tr>
  </thead>
  <tbody>
    <% @managers.each_with_index do |manager, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= link_to image_tag(manager.avatar_url, class: 'avatar rounded float-left', width: "25px") + manager.name, manager_path(manager) %></td>
      <td>ยง<%= number_with_delimiter(manager.balance) %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<h2>Top Bands <%= link_to "View All", bands_charts_path, class: 'btn btn-sm btn-primary' %></h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Band</th>
      <th scope="col">Genre</th>
      <th scope="col">Manager</th>
      <th scope="col">Buzz</th>
    </tr>
  </thead>
  <tbody>
    <% @bands.each_with_index do |band, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= link_to band.name, band_path(band) %></td>
      <td><%= band.genre.name %></td>
      <td><%= link_to image_tag(band.manager.avatar_url, class: 'avatar rounded float-left', width: "25px") + band.manager.name, manager_path(band.manager) %></td>
      <td><%= band.buzz %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>Top Releases <%= link_to "View All", releases_charts_path, class: 'btn btn-sm btn-primary' %></h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Name</th>
      <th scope="col">Band</th>
      <th scope="col">Genre</th>
      <th scope="col">Manager</th>
      <th scope="col">Sales</th>
    </tr>
  </thead>
  <tbody>
    <% @releases.each_with_index do |release, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= release.name %></td>
      <td><%= link_to release.band.name, band_path(release.band) %></td>
      <td><%= release.band.genre.name %></td>
      <td><%= link_to image_tag(release.band.manager.avatar_url, class: 'avatar rounded float-left', width: "25px") + release.band.manager.name, manager_path(release.band.manager) %><%=  %></td>
      <td><%= release.sales %></td>
    </tr>
    <% end %>
  </tbody>
</table>
