<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Charts", charts_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Top Releases</li>
  </ol>
</nav>

<h1>Top Releases</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Name</th>
      <th scope="col">Band</th>
      <th scope="col">Genre</th>
      <th scope="col">Manager</th>
      <th scope="col">Sales</th>
    </tr>
  </thead>
  <tbody>
    <% @releases.each_with_index do |release, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= release.name %></td>
      <td><%= link_to release.band.name, band_path(release.band) %></td>
      <td><%= release.band.genre.name %></td>
      <td><%= link_to image_tag(release.band.manager.avatar_url, class: 'avatar rounded float-left', width: "25px") + release.band.manager.name, manager_path(release.band.manager) %></td>
      <td><%= release.sales %></td>
    </tr>
    <% end %>
  </tbody>
</table>
