<h1>Start a new band</h1>

<%= form_for @band do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name your band!' %>
  </div>
  <div class="form-group">
    <%= f.label :genre %>
    <%= f.collection_select :genre_id, Genre.all.order(:name), :id, :full_genre, {include_blank: true}, {class: 'form-control'} %>
  </div>
  <%= f.submit "Start your band", class: 'btn btn-primary' %>
<% end %>
