<div class="jumbotron bg-success">
  <h1 class="display-3"></h1>
</div>
<h1><%= @band.name %></h1>
<h2><%= @band.genre.name %> - <%= @band.genre.style %></h2>
<h3>Fans: <%= @band.fans %> &bull; Buzz: <%= @band.buzz %> &bull; Songs: <a href="#" type="" class="" data-toggle="modal" data-target="#modal_songs"><%= @band.songs.count %></a> &bull; Recordings: <a href="#" type="" class="" data-toggle="modal" data-target="#modal_recordings"><%= @band.recordings.count %></a></h3>

<div class="modal fade" id="modal_songs" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Your songs!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Here are all the songs you've written.</p>
        <ul>
          <% @band.songs.each do |song| %>
          <li><%= song.name %> (Quality: <%= song.quality %>)</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_recordings" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Your recordings!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Here are all the songs you've recorded.</p>
        <ul>
          <% @band.recordings.each do |recording| %>
          <li><%= recording.name %> (<%= recording.kind %> -- Quality: <%= recording.quality %>)</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<hr/>
<div class="row">
  <div class="col-sm-6">
    <h3>Actions</h3>
    <div class="list-group">
      <% if @band.members.present? %>
      <% if @activity %>
        Currently: <%= @activity.action %> for <%= distance_of_time_in_words(Time.now, @activity.ends_at, include_seconds: true) %>
      <% else %>
        <!-- Practice -->
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modal_practice">Practice <br /><small>Improves the skill level of each member</small></button>

        <div class="modal fade" id="modal_practice" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="">How long would you like to practice?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>The longer you practice the more skill points you may receive.</p>
                <div class="list-group">
                  <%= link_to "1 hour", new_band_activity_path(band_id: @band.id, type: 'practice', hours: '1'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "2 hours", new_band_activity_path(band_id: @band.id, type: 'practice', hours: '2'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "6 hours", new_band_activity_path(band_id: @band.id, type: 'practice', hours: '6'), class: 'list-group-item list-group-item-action' %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Write song -->
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modal_write_song">Write a song <br /><small>You need songs to play gigs and start growing your fan base!</small></button>

        <div class="modal fade" id="modal_write_song" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="">How long would you like to work on your song?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>The longer you spend on your song, the higher quality it will be.</p>
                <div class="list-group">
                  <%= link_to "1 hour", new_band_activity_path(band_id: @band.id, type: 'write_song', hours: '1'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "2 hours", new_band_activity_path(band_id: @band.id, type: 'write_song', hours: '2'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "6 hours", new_band_activity_path(band_id: @band.id, type: 'write_song', hours: '6'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "12 hours", new_band_activity_path(band_id: @band.id, type: 'write_song', hours: '12'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "1 day", new_band_activity_path(band_id: @band.id, type: 'write_song', hours: '24'), class: 'list-group-item list-group-item-action' %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Play gig -->
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modal_play_gig">Play a gig <br /><small>Gigs help you gain fans and make some money.</small></button>

        <div class="modal fade" id="modal_play_gig" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">What venue would you like to play?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <p>Choose a venue carefully! If you choose a high-cap venue but aren't able to sell many tickets, it will hurt the perception (and future fans) of your band.</p>
                  <p><b>Playing a gig takes 24 hours.</b></p>
                  <div class="row">
                    <% Venue.order('capacity ASC').each do |venue| %>
                    <div class="col-md-6 mb-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><%= venue.name %></h5>
                          <h6 class="card-subtitle mb-2 text-muted">Capacity: <%= venue.capacity %></h6>
                          <%= link_to "Play this venue".html_safe, new_band_activity_path(band_id: @band.id, type: 'gig', venue: venue.id), class: 'card-link' %>
                        </div>
                      </div>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <!-- Record a single -->
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modal_record_single">Record a single <br /><small>Recording a single is a chance to improve a song and get it ready to release!</small></button>

        <div class="modal fade" id="modal_record_single" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <%= form_tag("/bands/#{@band.id}/activities/new", method: "get") do %>
              <%= hidden_field_tag 'type', 'record_single' %>
              <div class="modal-header">
                <h5 class="modal-title">What studio would you like to record at?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <h6>Select a song to record</h6>
                  <div class="form-group">
                    <% @band.songs.each do |song| %>
                    <div class="form-check">
                      <%= radio_button_tag(:song_id, song.id, false, class: '') %>
                      <label class="form-check-label">
                        <%= song.name %> (Quality: <%= song.quality %>)
                      </label>
                    </div>
                    <% end %>
                  </ul>
                  </div>
                  <div class="form-group">
                    <h6>Select a studio to record at</h6>
                    <%= collection_select(:studio, :studio_id, Studio.all, :id, :full_studio, class: 'form-control') %>
                  </div>
                  <div class="form-group">
                    <h6>What would you like to name this recording?</h6>
                    <%= text_field_tag('studio[name]', '', class: 'form-control') %>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <%= submit_tag("Start Recording Single", class: 'btn btn-primary') %>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <!-- Record an album -->
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modal_record_album">Record an album <br /><small>Put recorded singles in to an EP or LP!</small></button>

        <div class="modal fade" id="modal_record_album" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <%= form_tag("/bands/#{@band.id}/activities/new", method: "get") do %>
              <%= hidden_field_tag 'type', 'record_album' %>
              <div class="modal-header">
                <h5 class="modal-title">What studio would you like to record at?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <h6>Select recorded songs to put on album</h6>
                  <div class="form-group">
                    <% @band.recordings.where(kind:'single').each do |recording| %>
                    <div class="form-check">
                      <%= check_box_tag('recording_ids[]  ', recording.id, false, class: '') %>
                      <label class="form-check-label">
                        <%= recording.name %> (Quality: <%= recording.quality %>)
                      </label>
                    </div>
                    <% end %>
                  </ul>
                  </div>
                  <div class="form-group">
                    <h6>Select a studio to record at</h6>
                    <%= collection_select(:studio, :studio_id, Studio.all, :id, :full_studio, class: 'form-control') %>
                  </div>
                  <div class="form-group">
                    <h6>What would you like to name this album?</h6>
                    <%= text_field_tag('studio[name]', Faker::Hipster.sentence(2, false, 0).gsub('.','').titleize, class: 'form-control') %>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <%= submit_tag("Start Recording Album", class: 'btn btn-primary') %>
              </div>
              <% end %>
            </div>
          </div>
        </div>


        <!-- Release -->
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modal_release">Release a single or album <br /><small>Releases bring buzz and money!</small></button>

        <div class="modal fade" id="modal_release" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <%= form_tag("/bands/#{@band.id}/activities/new", method: "get") do %>
              <%= hidden_field_tag 'type', 'release' %>
              <div class="modal-header">
                <h5 class="modal-title" id="">Which recording would you like to release?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>The more buzz you have when you release an album, the better your sales will be!</p>
                <div class="form-group">
                  <%= collection_select(:recording, :id, @band.recordings, :id, :full_recording, class: 'form-control') %>
                </div>
              </div>
              <div class="modal-footer">
                <%= submit_tag("Release", class: 'btn btn-primary') %>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <!-- Rest -->
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modal_rest">Rest <br /><small>The more fatigued you are, the more bad things happen!</small></button>

        <div class="modal fade" id="modal_rest" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="">How long would you like to rest?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>The longer you rest, the less fatigued you'll be.</p>
                <div class="list-group">
                  <%= link_to "1 hour", new_band_activity_path(band_id: @band.id, type: 'rest', hours: '1'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "2 hours", new_band_activity_path(band_id: @band.id, type: 'rest', hours: '2'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "6 hours", new_band_activity_path(band_id: @band.id, type: 'rest', hours: '6'), class: 'list-group-item list-group-item-action' %>
                </div>
              </div>
            </div>
          </div>
        </div>



      <% end %>
      <% else %>
        You need to hire some band members!
      <% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <h3>News</h3>
    <ul style="max-height:375px;overflow:auto;">
    <% @band.happenings.order('created_at DESC').each do |happening| %>
      <li><%= happening.what %> <small><%= time_ago_in_words(happening.created_at) %> ago</small></li>
    <% end %>
    </ol>
  </div>
</div>

<hr/>
<h3>Members</h3>

<div class="row">
  <% @band.genre.genre_skills.each do |skill| %>
    <% member = @band.member_bands.where(skill_id: skill.skill.id).first.try(:member) %>
  <div class="col-sm-3">
    <div class="card">
      <% if member.present? %>
        <div class="card-header"><%= skill.skill.name %></div>
        <div class="card-img-pad">
          <%= image_tag member.avatar, class: 'card-img-top' %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= member.name %></h5>
          <h6><%= gender(member.gender) %>, <%= member.age %></h6>
          <h4 class="text-success"><%= number_to_currency(member.cost_generator, precision: 0, unit: 'ยง') %><small>/day</small></h4>
          <%= render partial: "skills/progress", locals: {skill_name: skill.skill.name, skill_level: member.skill_primary_level} %>
          <%= render partial: "skills/progress", locals: {skill_name: "Fatigue", skill_level: member.trait_fatigue, negative: true} %>
          <%= render partial: "skills/progress", locals: {skill_name: "Looks", skill_level: member.trait_looks} %>
          <%= render partial: "skills/progress", locals: {skill_name: "Creativity", skill_level: member.trait_creativity} %>
          <%= render partial: "skills/progress", locals: {skill_name: "Ego", skill_level: member.trait_ego, negative: true} %>
        </div>
      <% else %>
        <div class="card-body">
          <h4 class="card-title"><%= skill.skill.name %></h4>
          <p class="card-text"></p>
          <%= link_to "Hire this member", band_skill_path(band_id: @band.id, id: skill.skill.id), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>

  <% end %>
</div>
