<h1><%= @band.name %></h1>
<h2><%= @band.genre.name %> - <%= @band.genre.style %></h2>
<h3>Fans: <%= @band.fans %> &bull;
  Buzz: <%= @band.buzz %> &bull;
  Songs: <% if @band.songs.count > 0 %><a href="#" type="" class="" data-toggle="modal" data-target="#modal_songs"><%= @band.songs.count %></a><% else %>0<% end %> &bull;
  Recordings: <% if @band.recordings.count > 0 %><a href="#" type="" class="" data-toggle="modal" data-target="#modal_recordings"><%= @band.recordings.count %></a><% else %>0<% end %></h3>

<div class="modal fade" id="modal_songs" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Your songs!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Here are all the songs <%= @band.name %> has written.</p>
        <ul>
          <% @band.songs.each do |song| %>
          <li>
            <%= song.name %> (Quality: <%= song.quality %>)
            <% if manager_signed_in? and @band.manager == current_manager %>
            <%= link_to band_song_path(@band, song), method: :delete, data: { confirm: "Are you sure you want to delete #{song.name}?" } do %>
              <%= fa_icon 'ban', class: 'text-danger d-inline float-right' %>
            <% end %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_recordings" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id=""><%= @band.name %>'s recordings!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Here are all the songs <%= @band.name %> has recorded.</p>
        <ul>
          <% @band.recordings.each do |recording| %>
          <li>
            <%= recording.name %> (<%= recording.kind %> -- Quality: <%= recording.quality %>)
            <% if manager_signed_in? and @band.manager == current_manager %>
            <%= link_to band_recording_path(@band, recording), method: :delete, data: { confirm: "Are you sure you want to delete #{recording.name}?" } do %>
              <%= fa_icon 'ban', class: 'text-danger d-inline float-right' %>
            <% end %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<hr/>
<div class="row">
  <% if manager_signed_in? and @band.manager == current_manager %>
  <div class="col-sm-6">
    <h3>Actions</h3>
    <div class="list-group">
      <% if @band.genre.min_members <= @band.members.count %>
      <% if @activity %>
      <div class="alert alert-success alert-block text-center current_activity">
        Currently: <%= @activity.humanize_action %> for <b class="timecountdown"></b>
        <script type="text/javascript">
          $('.timecountdown').countdown('<%= @activity.ends_at %>', function(event) {
            var str = "";
           // if 0 number of days, show H:M:S
           if(parseInt(event.strftime('%D')) == 0) {
               str = event.strftime('%-H hour%!H %-M minute%!M %-S second%!S');
               // if 0 days 0 hours, show M:S
               if(parseInt(event.strftime('%H')) == 0) {
                  str = event.strftime('%-M minute%!M %-S second%!S');
                  // if 0 days 0 hours 0 minutes, show only Seconds
                  if(parseInt(event.strftime('%M')) == 0) {
                     str = event.strftime('%-S second%!S');
                  }
               }
           } else {
               str = event.strftime('%-D days %-H hours %-M min %-S sec');
           }
            $(this).html(str);
          });
        </script>
      </div>
      <% end %>
      <div class="activity_success alert alert-success alert-block text-center" style="display:none;"></div>
      <div class="activities"<% if @activity %> style="display:none" <% end %>>
        <!-- Practice -->
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modal_practice"<% if @band.overly_fatigued_members? %> disabled<% end %>>Practice<% if @band.overly_fatigued_members? %> <b class="badge badge-info">Your members are too fatigued!</b> <% end %><br /><small>Improves the skill level of each member</small></button>

        <div class="modal fade" id="modal_practice" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="">How long would you like to practice?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>The longer you practice the more skill points you may receive.</p>
                <div class="list-group">
                  <%= link_to "1 minute", new_band_activity_path(band_id: @band.id, type: 'practice', hours: '1'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "5 minutes", new_band_activity_path(band_id: @band.id, type: 'practice', hours: '5'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "15 minutes", new_band_activity_path(band_id: @band.id, type: 'practice', hours: '15'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "30 minutes", new_band_activity_path(band_id: @band.id, type: 'practice', hours: '30'), class: 'list-group-item list-group-item-action' %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Write song -->
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modal_write_song"<% if @band.overly_fatigued_members? %> disabled<% end %>>Write a song<% if @band.overly_fatigued_members? %> <b class="badge badge-info">Your members are too fatigued!</b> <% end %> <br /><small>You need songs to play gigs and start growing your fan base!</small></button>

        <div class="modal fade" id="modal_write_song" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="">How long would you like to work on your song?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>The longer you spend on your song, the higher quality it will be.</p>
                <div class="list-group">
                  <%= link_to "2 minutes", new_band_activity_path(band_id: @band.id, type: 'write_song', hours: '2'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "10 minutes", new_band_activity_path(band_id: @band.id, type: 'write_song', hours: '10'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "30 minutes", new_band_activity_path(band_id: @band.id, type: 'write_song', hours: '30'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "60 minutes", new_band_activity_path(band_id: @band.id, type: 'write_song', hours: '60'), class: 'list-group-item list-group-item-action' %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Play gig -->
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modal_play_gig"<% if @band.overly_fatigued_members? %> disabled<% end %>>Play a gig<% if @band.overly_fatigued_members? %> <b class="badge badge-info">Your members are too fatigued!</b> <% end %> <br /><small>Gigs help you gain fans and make some money.</small></button>

        <div class="modal fade" id="modal_play_gig" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">What venue would you like to play?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <p>Choose a venue carefully! If you choose a high-cap venue but aren't able to sell many tickets, it will hurt the perception (and future fans) of your band.</p>
                  <p><b>Playing a gig takes 2 minutes.</b></p>
                  <div class="row">
                    <% Venue.order('capacity ASC').each do |venue| %>
                    <div class="col-md-6 mb-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><%= venue.name %></h5>
                          <h6 class="card-subtitle mb-2 text-muted">Capacity: <%= venue.capacity %></h6>
                          <%= link_to "Play this venue".html_safe, new_band_activity_path(band_id: @band.id, type: 'gig', venue: venue.id), class: 'card-link' %>
                        </div>
                      </div>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Record a single -->
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modal_record_single"<% if @band.songs.count.zero? or @band.overly_fatigued_members? %> disabled<% end %>>Record a single<% if @band.songs.count.zero? %> <b class="badge badge-info">You need to write a song first!</b> <% end %><% if @band.overly_fatigued_members? %> <b class="badge badge-info">Your members are too fatigued!</b> <% end %><br /><small>Recording a single is a chance to improve a song and get it ready to release!</small></button>

        <div class="modal fade" id="modal_record_single" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <%= form_tag("/bands/#{@band.id}/activities/new", method: "get") do %>
              <%= hidden_field_tag 'type', 'record_single' %>
              <div class="modal-header">
                <h5 class="modal-title">What studio would you like to record at?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <h6>Select a song to record</h6>
                  <div class="form-group">
                    <% @band.songs.each do |song| %>
                    <div class="form-check">
                      <%= radio_button_tag(:song_id, song.id, false, class: '') %>
                      <label class="form-check-label">
                        <%= song.name %> (Quality: <%= song.quality %>)
                      </label>
                    </div>
                    <% end %>
                  </ul>
                  </div>
                  <div class="form-group">
                    <h6>Select a studio to record at</h6>
                    <%= collection_select(:studio, :studio_id, Studio.all, :id, :full_studio, class: 'form-control') %>
                  </div>
                  <div class="form-group">
                    <h6>What would you like to name this recording?</h6>
                    <%= text_field_tag('studio[name]', '', class: 'form-control') %>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <%= submit_tag("Start Recording Single", class: 'btn btn-primary') %>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <!-- Record an album -->
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modal_record_album"<% if @band.songs.count.zero? or @band.overly_fatigued_members? %> disabled<% end %>>Record an album<% if @band.songs.count.zero? %> <b class="badge badge-info">You need to write a song first!</b> <% end %><% if @band.overly_fatigued_members? %> <b class="badge badge-info">Your members are too fatigued!</b> <% end %> <br /><small>Put recorded singles in to an EP or LP!</small></button>

        <div class="modal fade" id="modal_record_album" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <%= form_tag("/bands/#{@band.id}/activities/new", method: "get") do %>
              <%= hidden_field_tag 'type', 'record_album' %>
              <div class="modal-header">
                <h5 class="modal-title">What studio would you like to record at?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <h6>Select recorded songs to put on album</h6>
                  <div class="form-group">
                    <% @band.recordings.where(kind:'single').each do |recording| %>
                    <div class="form-check">
                      <%= check_box_tag('recording_ids[]  ', recording.id, false, class: '') %>
                      <label class="form-check-label">
                        <%= recording.name %> (Quality: <%= recording.quality %>)
                      </label>
                    </div>
                    <% end %>
                  </ul>
                  </div>
                  <div class="form-group">
                    <h6>Select a studio to record at</h6>
                    <%= collection_select(:studio, :studio_id, Studio.all, :id, :full_studio, class: 'form-control') %>
                  </div>
                  <div class="form-group">
                    <h6>What would you like to name this album?</h6>
                    <%= text_field_tag('studio[name]', Generator.album_name, class: 'form-control') %>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <%= submit_tag("Start Recording Album", class: 'btn btn-primary') %>
              </div>
              <% end %>
            </div>
          </div>
        </div>


        <!-- Release -->
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modal_release"<% if @band.recordings.count.zero? or @band.overly_fatigued_members? %> disabled<% end %>>Release a single or album<% if @band.recordings.count.zero? %> <b class="badge badge-info">You need to record a single or album first!</b> <% end %><% if @band.overly_fatigued_members? %> <b class="badge badge-info">Your members are too fatigued!</b> <% end %> <br /><small>Releases bring buzz and money!</small></button>

        <div class="modal fade" id="modal_release" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <%= form_tag("/bands/#{@band.id}/activities/new", method: "get") do %>
              <%= hidden_field_tag 'type', 'release' %>
              <div class="modal-header">
                <h5 class="modal-title" id="">Which recording would you like to release?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>The more buzz you have when you release an album, the better your sales will be!</p>
                <div class="form-group">
                  <%= collection_select(:recording, :id, @band.recordings, :id, :full_recording, class: 'form-control') %>
                </div>
              </div>
              <div class="modal-footer">
                <%= submit_tag("Release", class: 'btn btn-primary') %>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <!-- Rest -->
        <button type="button" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modal_rest">Rest <br /><small>The more fatigued you are, the more bad things happen!</small></button>

        <div class="modal fade" id="modal_rest" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="">How long would you like to rest?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>The longer you rest, the less fatigued you'll be.</p>
                <div class="list-group">
                  <%= link_to "1 minute", new_band_activity_path(band_id: @band.id, type: 'rest', hours: '1'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "5 minutes", new_band_activity_path(band_id: @band.id, type: 'rest', hours: '5'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "15 minutes", new_band_activity_path(band_id: @band.id, type: 'rest', hours: '15'), class: 'list-group-item list-group-item-action' %>
                  <%= link_to "30 minutes", new_band_activity_path(band_id: @band.id, type: 'rest', hours: '30'), class: 'list-group-item list-group-item-action' %>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <% else %>
        You need to hire a full band!
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="col-sm-6">
    <h3>News</h3>
    <ol style="" class="news">
    <%= render template: "bands/happenings" %>
    </ol>
  </div>
</div>

<hr/>
<h3>Members</h3>

<div class="row">
  <% @band.genre.skills.each do |genre_skill| %>
    <% member = @band.members.with_skill(genre_skill).first %>
  <div class="col-sm-3">
    <div class="card mb-4">
      <% if member.present? %>
        <div class="card-header"><%= genre_skill.name %></div>
        <div class="card-img-pad">
          <%= image_tag member.avatar_url, class: 'card-img-top' %>
        </div>
        <div class="card-body">
          <h5 class="card-title d-inline"><%= member.name %></h5>
          <% if manager_signed_in? and @band.manager == current_manager %>
          <%= link_to member_path(member_id: member, band_id: @band), method: :delete, data: { confirm: "Are you sure you want to fire #{member.name}?" } do %>
            <h5 class="d-inline float-right"><%= fa_icon 'ban', class: 'text-danger' %></h5>
          <% end %>
          <% end %>
          <h4 class="text-success"><%= as_game_currency(member.cost_generator) %><small>/day</small></h4>
          <%= render partial: "skills/progress", locals: {skill_name: genre_skill.name, skill_level: member.skill_primary_level} %>
          <%= render partial: "skills/progress", locals: {skill_name: "Fatigue", skill_level: member.trait_fatigue, negative: true} %>
          <%= render partial: "skills/progress", locals: {skill_name: "Looks", skill_level: member.trait_looks} %>
          <%= render partial: "skills/progress", locals: {skill_name: "Creativity", skill_level: member.trait_creativity} %>
          <%= render partial: "skills/progress", locals: {skill_name: "Ego", skill_level: member.trait_ego, negative: true} %>
        </div>
      <% else %>
        <div class="card-body">
          <h4 class="card-title"><%= genre_skill.name %></h4>
          <p class="card-text"></p>
          <%= link_to "Hire this member", band_skill_path(band_id: @band.id, id: genre_skill.id), class: 'btn btn-primary' if manager_signed_in? and @band.manager == current_manager %>
        </div>
      <% end %>
    </div>
  </div>

  <% end %>
</div>
