<!DOCTYPE html>
<html>
  <head>
    <title>Rockburg</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
      <%= link_to "Rockburg", root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to "Dashboard", root_path, class: 'nav-item nav-link' %>
        </div>
      </div>
      <% if manager_signed_in? %>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <a href="#" role="button" class="text-light nav-link btn btn-success">Money <span class="badge badge-light"><%= number_to_currency(current_manager.balance, precision: 0, unit: 'ยง') %></span></a>
        </li>
        <li class="nav-item"><%= link_to "Sign Out", destroy_manager_session_path, class: 'nav-link' %></li>
      </ul>
      <% else %>
        <%= link_to "Sign Up", root_path, class: 'btn btn-dark' %>
      <% end %>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
