<!DOCTYPE html>
<html>
  <head>
    <title>Rockburg</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i|Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
      <%= link_to "🤘 Rockburg", root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <% if manager_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to('<i class="fa fa-columns"></i> Dashboard'.html_safe, dashboard_path, class: 'nav-item nav-link') %>
          <%= link_to('<i class="fa fa-line-chart"></i> Charts'.html_safe, charts_path, class: 'nav-item nav-link') %>
          <%= link_to('<i class="fa fa-user-circle"></i> Profile'.html_safe, manager_path(current_manager), class: 'nav-item nav-link') %>
        </div>
      </div>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item py-2 px-4">
          <%- last_reset = Time.parse(GameDatum.get(:last_reset) ||' 2018-04-13 15:51:17 -0500')%>
          <small class="text-light">Game last reset <b><u><%= time_ago_in_words(last_reset, vague: true) %> ago</u></b></small>
        </li>
        <li class="nav-item">
          <a href="#" role="button" class="text-light nav-link btn btn-success">Money <span class="badge badge-light"><%= as_game_currency(current_manager.balance) %></span></a>
        </li>
        <li class="nav-item"><%= link_to "Sign Out", destroy_manager_session_path, method: :delete, class: 'nav-link' %></li>
      </ul>
      <% else %>
      <div class="navbar-nav">
        <%= link_to "Log in", new_manager_session_path, class: 'btn btn-dark' %> &nbsp;
        <%= link_to "Sign Up", new_manager_registration_path, class: 'btn btn-dark' %>
      </div>
      <% end %>
    </header>

    <div class="container my-5">
      Messages
      <div id="messages"></div>
      <% if notice.present? %>
      <div class="alert alert-success" role="alert"><%= notice %></div>
      <% end %>

      <% if alert.present? %>
      <div class="alert alert-warning" role="alert"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
    <footer class="bd-footer text-muted">
      <div class="container-fluid p-2 p-md-5">
        <p>Got feedback? Want to contribute? <a href="https://github.com/Rockburg/rockburg">Rockburg is open source!</a></p>
        <p>Original idea by <a href="https://twitter.com/Shpigford">@Shpigford</a>. Maintained by <a href="https://twitter.com/Shpigford">@Shpigford</a> with the help of <a href="https://github.com/rockburg/rockburg/graphs/contributors">our contributors</a>!</p>
      </div>
    </footer>
  </body>
</html>
